<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListSupplierController</servlet-name>
        <servlet-class>controller.ListSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierController</servlet-name>
        <servlet-class>controller.DeleteSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>controller.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierController</servlet-name>
        <servlet-class>controller.EditSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>controller.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>controller.ManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductController</servlet-name>
        <servlet-class>LoadProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>controller.ShowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityController</servlet-name>
        <servlet-class>controller.QuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationController</servlet-name>
        <servlet-class>controller.ChangeInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderController</servlet-name>
        <servlet-class>controller.ManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>controller.AddOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemController</servlet-name>
        <servlet-class>controller.DeleteCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStatusController</servlet-name>
        <servlet-class>controller.LoadStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStatusController</servlet-name>
        <servlet-class>controller.EditStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoftStatusController</servlet-name>
        <servlet-class>controller.SoftStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoftSupplierController</servlet-name>
        <servlet-class>controller.SoftSupplierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSupplierController</servlet-name>
        <url-pattern>//*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierController</servlet-name>
        <url-pattern>/deletesupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierController</servlet-name>
        <url-pattern>/editsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductController</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/manageaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/editproductcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/searchproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityController</servlet-name>
        <url-pattern>/quantityitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationController</servlet-name>
        <url-pattern>/changeinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderController</servlet-name>
        <url-pattern>/manageorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStatusController</servlet-name>
        <url-pattern>/loadstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStatusController</servlet-name>
        <url-pattern>/editstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoftStatusController</servlet-name>
        <url-pattern>/softstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoftSupplierController</servlet-name>
        <url-pattern>/softsupplier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
